#intro {
    height: calc(100vh-4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;

}

.bg {
    position: absolute;
    top: 5rem;
    right: 5rem;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

.introContent {
    height: 100vh;
    width: 100vw;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    /* margin-top: 5; */
    font-size: 1.5rem;
    font-weight: 100;
}

.introName {
    color: orange;
}

.introPara {
    font-size: medium;
    font-weight: 100;
}

.btn {
    background: white;
    color: black;
    margin: 1rem 0;
    border: none;
    padding: 0.75rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

.btn:hover {
    background-color: violet;
    color: white;
}

.btnImg {
    object-fit: cover;
    margin: 0 1rem;
    height: 1 rem;
    width: 40px;
}

/* @media screen and (max-width:840px) {
    .bg {
        right: 10vw;

    }

    .introContent {
        font-size: 8vw;
        margin-left: 2rem;
    }

    .hello {
        font-size: 4.5vw;
    }

    .introPara {
        font-size: 2vw;
    }
}


@media screen and (max-width:500px) {
    .bg {
        right: 10vw;

    }

    .introContent {
        font-size: 8vw;
        margin-left: 2rem;
    }

    .hello {
        font-size: 4.5vw;
    }

    .introPara {
        font-size: 4vw;
    }
}

@media screen and (max-width:480px) {
    .bg {
        right: -10vw;

    }

    .introContent {
        font-size: 10vw;
    }

    .hello {
        font-size: 4.5vw;
    }

    .introPara {
        font-size: 3vw;
    }
}

@media screen and (max-width:1240px) {
    .bg {
        right: 10vw;

    }

    .introContent {
        font-size: 4vw;
        margin-left: 2rem;
    }

    .hello {
        font-size: 2.5vw;
    }

    .introPara {
        font-size: 2vw;
    }


} */

@media screen and (max-width: 768px) {
    .hello {
        font-size: 1.5rem;
    }

    .introText {
        font-size: 2rem;
    }

    .introName {
        font-size: 2.5rem;
    }

    .introPara {
        font-size: 0.9rem;
    }

    .btn {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }

    .btnImg {
        width: 1.25rem;
    }

    .bg {
        max-width: 400px;
    }
}